.button{
    -fx-background-insets: -1, 0, 1, 1;
    -fx-background-color: radial-gradient(radius 180%,#599bb3, #366373) ;
    -fx-border-radius:4px;
    -fx-display:inline-block;
    -fx-cursor:pointer;
    -fx-color:#b7ebe2;
    -fx-font-family:Arial;
    -fx-font-weight:bold;
    -fx-padding:19px 23px;
    -fx-font-size: 36px;
    -fx-text-fill: #383842;

}

.button:hover {
    -fx-background-color:radial-gradient(radius 180%,#408c99, #2f6872);
}
.winningButton{
    -fx-background-insets: -1, 0, 1, 1;
    -fx-background-color:radial-gradient(radius 180%, #a73f2d, #863122);
    -fx-border-radius:4px;
    -fx-display:inline-block;
    -fx-cursor:pointer;
    -fx-color:#ffffff;
    -fx-font-family:Arial;
    -fx-font-size:36px;
    -fx-font-weight:bold;
    -fx-padding:19px 23px;
}
.winningButton:hover {
    -fx-background-color:radial-gradient(radius 180%,#b34332, #863122);
}
.label{
    -fx-font-size: 36;
    -fx-border-radius:4px;
    -fx-padding:19px 23px;
    -fx-background-color: #888484;
    -fx-font-weight:bold;
    -fx-font-family: "DejaVu Sans Mono";
}